body{

  background-image: url(waiter.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.container{
  margin-top: 280px;
}
.rate{
  margin: 0 auto;
  margin-top: 800px;
  display: block;
  background-color: rgb(255, 255, 255);
  max-width: 600px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0,0,0,.3);
  padding: 50px;
  position: relative;
  align-items: center;
}
.smiley-container{
  font-size: 70px;
  position: absolute;
  width: 70px;
  height: 70px; 
  top: 28%;
  left: 50%;
background-color: rgb(243, 243, 104);
  overflow: hidden;
  border-radius: 80%;
  transform: translateX(-50%);
  display: flex;
}
.star-rating{
  font-size: 47px;
  margin-top: 180px;
}
.far{
  margin: 1px;
  transform: translateX(0);
  transition: transform 0.2s;
}
.fa-star {
  color: rgb(201, 201, 201);
  cursor: pointer;
}

.fa-star.active {
  color:goldenrod;
}
@media(max-width:500px){
  body{
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
.rate{
  max-width: 500px;
}
.smiley-container{
  font-size: 40px;
}
.star-rating{
  font-size: 37px;
}
}
